.App {
    text-align: center;
    align-items: center;
    /* display: flex;
    flex-direction: column;

    font-family: Arial, Helvetica, sans-serif; */
}

.nav-bar {
    background-color: #007bff; /* Background color for the navbar */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App > .nav-bar > nav > ul {
    display: flex;
    justify-content: center;
}

nav > ul > li {
    padding: 0px 20px;
    list-style: none;
}

nav a:hover {
    color: rgb(196, 196, 196);
}

nav > ul {
    padding: 0px;
}

nav a {
    text-decoration: none; /* Remove underlines from links */
    font-weight: 700;
    color: #fff; /* Text color for the links */
}

nav a:hover {
    color: rgb(30, 163, 240) rgb(84, 159, 245); /* Text color for the links */
}
